<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Alterar Categoria </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="categoria.nome"
                            name="nome">
                    </div>

                    
                    <br />
                    <button class="btn btn-success" type="submit">Salvar</button>
                    <!--a routerLink="categorias" routerLinkActive="active" class="nav-link" >Categorias</a-->
                

                </form>
            </div>
        </div>
    </div>
</div>
